.container.user-new{ action: "" }
  = form_for current_user do |f|
    .col-md-8.col-md-offset-2
      %header.row.user-nav.row
        .col-md-12
          %h2 Edit Profile
          .user-name_image.row
            .user-name.col-md-10
              = f.text_field :username, placeholder: "Username"
            .user-image.col-md-2.js-preview-images
              = f.button "Change image", class: "btn btn-primary"
              = f.file_field :avatar
          = f.email_field :email, placeholder: "E-mail", class: "user-email"
          -# = f.password_field :password, placeholder: "Password", class: "user-password"
      .col-md-12
        %h4 Member of
        .user-user-member.row
          .user-name.col-md-12
            = f.text_field :member, placeholder: "Member"
        %h4 Profile
        .user-user-profile.row
          .user-name.col-md-12
            = f.text_area :profile, cols:"30", rows: "4", placeholder: "Profile"
        %h4 Photographer or Model?
        .user-user-member.row.user-attribute-checkbox
          .user-label.col-md-6
            %label
              = f.check_box :photographer_flg
              %span.user-label
                Photographer
            %label
              = f.check_box :model_flg
              %span.user-label
                Model
        %h4 Works
        .user-name_image.row
          .user-name.col-md-12
            = f.text_area :works, cols: "30", rows: "4", placeholder: "Works"
        %h4 Camera
        .user-name_image.row
          .user-name.col-md-12
            = f.text_area :camera, cols: "30", rows: "4", placeholder: "Using Camera"
    .row.text-center.user-btn
      = f.submit "Save", class: "btn btn-lg btn-primary btn-block"
      
